<div class="container" style="margin: 10px">
    <p-floatlabel variant="on">
        <input
            pInputText
            id="origem"
            [(ngModel)]="origem"
            (blur)="buscarEndereco('origem')"
            autocomplete="off"
        />
        <label for="origem">Origem</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <input
            pInputText
            id="destino"
            [(ngModel)]="destino"
            (blur)="buscarEndereco('destino')"
            autocomplete="off"
        />
        <label for="destino">Destino</label>
    </p-floatlabel>

    <div class="card flex justify-center" style="margin-top: 10px">
        <p-button label="Ir" (click)="montarRota()"></p-button>
    </div>
</div>

<div id="mapa" style="height: 60vh; width: 80%"></div>
